@font-face {
    font-family: Mae;
    src: url("../font-family/mtFont.ttf");
}* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    background-image: url("../img/bac.jpg");
}

/*标题样式*/
.title{
    position: absolute;
    width: 92%;
    text-align: center;
    left: 50%;
    margin-left: -46%;
    top: 235px;
}
.title-name{
    margin: 0 auto;
}
.title .E{
    margin-bottom: 135px;
}
.title .E div{
    font-size: 105px;
    text-shadow: 5px 5px 8px #888888;
}
.title .E div:nth-child(1),
.title .E div:nth-child(2),
.title .E div:nth-child(3),
.title .E div:nth-child(4),
.title .E div:nth-child(5),
.title .E div:nth-child(6),
.title .E div:nth-child(7){
    font-weight: bolder;
}
.title .C div{
    font-size: 65px;
    text-shadow: 1px 1px 5px #888888;
}

.title-name .E div,
.title-name .C div{
    color: #6666cc;
    margin-left: 5px;
    background-color:transparent;
    display: inline-block;
    animation: style;
}

/*标题动画*/
@keyframes style {
    from, 20%, 53%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0.5,0);
    }
    40%, 43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0px, -50px, 0);
    }
}

.title-name .E div,
.title-name .C div{
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 4;
}

.is-animate  div:nth-child(1) { animation-delay: 0.0s }
.is-animate  div:nth-child(2) { animation-delay: 0.1s }
.is-animate  div:nth-child(3) { animation-delay: 0.2s }
.is-animate  div:nth-child(4) { animation-delay: 0.3s }
.is-animate  div:nth-child(5) { animation-delay: 0.4s }
.is-animate  div:nth-child(6) { animation-delay: 0.5s }
.is-animate  div:nth-child(7) { animation-delay: 0.6s }
.is-animate  div:nth-child(8) { animation-delay: 0.8s }
.is-animate  div:nth-child(9) { animation-delay: 0.9s }
.is-animate  div:nth-child(10) { animation-delay: 1.0s }
.is-animate  div:nth-child(11) { animation-delay:1.1s }
.is-animate  div:nth-child(12) { animation-delay: 1.2s }

.is-animate  .C div {animation-delay: 0.0s}

/*“纳新”样式*/
.contain{
    position: absolute;
    top: 34.3%;
    right: 50px;
    /*width: 60%;*/
    font-family: Mae, fantasy;
}

.contain .new div{
    font-size: 86px;
    float: left;
    color:#ec6e46;
}
.pig{
    width: 130px;
    float: left;
}
.new{
    /*width: 70%;*/
    display: inline-block;
    margin-top: 12%;
    margin-left: 20px;
}
.new > div {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

/*“纳新”动画*/
.style3 > div {
    animation-name: style3;
}

@keyframes style3 {
    from {
        transform: scale3d(1, 1, 1);
    }
    10%, 20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

/*底部图片样式*/
.picture{
    width: 80%;
    position: absolute;
    bottom:140px;
    left: 50%;
    margin-left: -40%;
    z-index: 0;
}
.picture img{
    width: 100%;
}

/*底部导航栏*/
.bottom{
    position: absolute;
    width: 100%;
    height: 155px;
    bottom: -10px;
    z-index: 1000;
    border-top: 3px solid #b5b9ce;
    display: flex;
    flex-direction: row;
    background-color: #d6dff4;
}
.bottom .item{
    flex: 1;
    text-align: center;
}
.bottom .character{
    position: relative;
    /*top:10px;*/
    left: 5px;
    font-size: 35px;
    font-weight: bolder;
    color: #554639;
}
.bottom img{
    width: 37%;
}

@keyframes drop {
    0%{
        opacity: 0;
        transform: translate(0, 0) rotate(45deg);
    }
    50%{
        opacity: 1;
        transform: translate(0, -20px) rotate(45deg);
    }
    100%{
        opacity: 0;
    }
}




/*iphone5*/
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){
    .title{
        font-size: 25px;
    }
    .title-name > div{
        margin: 23px -16px;
    }

    @keyframes style {
        from, 20%, 53%, 80%, to {
            animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transform: translate3d(0,0.5,0);
        }
        40%, 43% {
            animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transform: translate3d(0px, -20px, 0);
        }
    }
    .picture{
        bottom: 140px;
    }
    .contain{
        top: 35%;
    }

    .contain .new{
        margin-top:15%;
    }
    .contain .new div{
        font-size: 75px;
    }

}

/*ipad*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px){
    .title{
        top: 150px;
    }
    .title .E{
        margin-bottom: 100px;
    }
    .title .E div{
        font-size: 95px;
    }
    .title .C div{
        font-size: 60px;

    }
    .picture{
        width: 65%;
        margin-left: -32.5%;
        bottom:144px;
    }
    .contain{
        top: 31.4%;
        left: 50%;
    }
    .contain .new{
        position: absolute;
    }
    .contain .new div{
        font-size: 77px;
    }
}

/*pc端*/
@media (min-width: 1024px){
    html,body{
        font-size: 18px;
        overflow-y: hidden;
    }
    .title{
        top: 32%;
        left: 455px;
    }
    .title .E{
        margin-bottom: 85px;
    }
    .title .E div{
        font-size: 90px;
    }
    .title .C div{
        font-size: 50px;
    }

    .contain{
        top: 60%;
        left: 30%;
    }
    .new {
        width: 70%;
        display: inline-block;
        margin-top: 8%;
        margin-left: 20px;
    }
    .contain .new div{
        font-size: 70px;
    }
    .picture{
        width: 33%;
        bottom:0;
        left: 100%;
    }

    /*底部导航栏*/
    .bottom{
        width: 100%;
        height: 55px;
        top: 0;
        border-top: 0 solid transparent;
        display: inline-block;
        background:linear-gradient(to right, #c1d8eb 0%, #c6caea 100%) ;
    }
    .bottom .character {
        top: 18px;
        left: 0;
        font-size: 20px;
        float: left;
        color: #4b7fa4;
    }
    .bottom img {
        width: 38.5%;
        float: left;
        margin-top: 5px;
    }
    .bottom {
        background-color: #d0e0fc;
        padding-left: 10px;
        box-shadow: 1px 1px 3px 2px #b5b9ce;
    }
    .item{
        width: 8%;
        height: 50px;
        display: inline-block;
    }
    .item:hover{
        opacity: 0.5;
        cursor: pointer;
    }
    .pig {
        width: 100px;
        float: left;
        margin-top: 28px;
    }
    .one{
        float: right;
    }
}
