*{
    margin: 0%;
    padding: 0%;
}
.p-section.p-section--04.js-fullscreen-section {
    font-family: Mae;
}
.container{
    display: flex;
    height:100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: repeat-y;
    background-size: 100%;
}
#content{
    width: 84vw;
    min-height: 410px;
    margin: 0 auto;
    top: 17px;
    border-left: 3px solid #6d6a6a;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
}
#sDiv{
    height: 9%;
    width: 100%;
    position: absolute;
    top: 5%;
    font-size: 30px;
    color: black;
    z-index: 10
}
.letter {
    /*animation: bounce 0.75s cubic-bezier(0.05, 0, 0.2, 1) infinite alternate;*/
    display: inline-block;
    transform: translate3d(0, 0, 0);
    font-size: 27px;
    color: #333;
    margin:-10px -7px;

}
.letter:nth-child(1) {
    animation-delay: 0s;
}
.letter:nth-child(2) {
    animation-delay: 0.0833333333s;
}
.letter:nth-child(3) {
    animation-delay: 0.1666666667s;
}
.letter:nth-child(4) {
    animation-delay: 0.25s;
}
.letter:nth-child(5) {
    animation-delay: 0.3333333333s;
}
.letter:nth-child(6) {
    animation-delay: 0.4166666667s;
}


/*@keyframes bounce {*/
    /*0% {*/
        /*transform: translate3d(0, 0, 0);*/
    /*}*/
    /*100% {*/
        /*transform: translate3d(0, -10px, 0);*/
    /*}*/
/*}*/
.courseLogo{
    height: 23%;
    width: 90%;
    box-sizing: border-box;
    perspective: 800px;
    z-index: 1000;
    margin: 2px auto 10px;
    margin-left: 7%;
    position: relative;
    border-radius:18px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120% 100%;
    /*background-image: url(../img/th.jpeg);*/
}
.courseLogo::before{
    content: "";
    width: 22px;
    display: block;
    height: 4px;
    position: absolute;
    left: -8%;
    top: 50%;
    z-index: 1000;
    background-color: #6d6a6a;
}
.courseLogo::after{
    content: "";
    width: 20px;
    display: block;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: -1px;
    top: 43%;
    border:2px solid #6d6a6a;
    z-index: 1000;
}
.courseBefore{
    width: 100%;
    height: 100%;
    position: absolute;
    top:2px;
    background-image: url(../img/bg.jpg);
    left: 0;
    font-family: Mae;
    font-weight: bolder;
    font-size: 25px;
    color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120% 100%;
    backface-visibility: hidden;
    transition: 1s;
    border-radius:18px;
}
.courseAfter{
    background-image: url(../img/bg.jpg);
    text-indent: 1.2em;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    color: #333;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    transition: 1s;
    border-radius:18px;
}

/*.courseLogo:hover .courseBefore{*/
    /*transform: rotateY(180deg);*/
/*}*/
/*.courseLogo:hover .courseAfter{*/
    /*transform: rotateY(0deg);*/
/*}*/
.small{
    /*position: absolute;*/
    /*top: 0;*/
    margin-left: 25px;
    font-size: 22px !important;
    color: black;
}
.courseAfter>p{
    text-align: start;
    width: 87%;
    margin: 0 auto;
    margin-left: 25px;
    font-size: 16px;
}
.courseBefore>p{
    text-align: start;
    width: 87%;
    margin: 0 auto;
    margin-left:25px;
    /*margin-top: 20px;*/
    font-size: 17px;
    color: #606060;
}
.bg{
    border-radius: 10px;
}
.chan {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    background-image: url(../img/bg.jpg);
    left: 0;
    font-family: Mae;
    font-weight: bolder;
    font-size: 25px;
    color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120% 100%;
    backface-visibility: hidden;
    transition: 1s;
    border-radius:18px;

    animation: fight 2s linear infinite;
}
@keyframes fight{
    0%{
        box-shadow: 0 0 0 0 #87CEFA;
    }
    40%{
        box-shadow: 0 0 0px 8px #87CEFA;
    }
    80%{
        box-shadow: 0 0 0px 8px #87CEFA;
    }
    100%{
        box-shadow: 0 0 0 0 #87CEFA;
    }
}

@media(min-width:700px) and (max-width: 1240px){
    .p-section.p-section--04.js-fullscreen-section  .courseAfter {
        font-size: 14px;
        line-height: 50px;
    }
    .p-section.p-section--04.js-fullscreen-section  .letter {
        font-size: 50px;
    }
    .return{
        position: absolute;
        right: 5%;
        top: 6%;
        z-index: 100;
    }
    #content {
        width: 84vw;
        min-height: 530px;
    }
}
@media(min-width: 400px) and (max-width: 430px){
    .p-section.p-section--04.js-fullscreen-section  .courseAfter {

        font-size: 14px;
        line-height: 22px!important;
    }
    .return{
        position: absolute;
        right: 5%;
        top: 3%;
        z-index: 100;
    }
    #content {
        width: 84vw;
        min-height: 530px;
    }
}
@media(min-width: 350px) and (max-width: 400px){
    .p-section.p-section--04.js-fullscreen-section  .courseAfter {
        font-size: 13px;
        line-height:21px!important;
    }
    .return{
        position: absolute;
        right: 5%;
        top: 3%;
        z-index: 100;
    }
    #content {
        width: 84vw;
        min-height: 500px;
    }
}
@media(min-width: 300px) and (max-width: 350px){
    .p-section.p-section--04.js-fullscreen-section  .courseAfter {
        font-size: 11px;
        line-height:17px!important;
    }
    .letter{
        margin-left:-10px;
        margin-right: -10px;
    }
    .return{
        position: absolute;
        right: 5%;
        top: 3%;
        z-index: 100;
    }
    #content {
        width: 84vw;
        min-height: 410px;
    }
    .courseAfter>p {
        font-size: 13px;
    }
}
@media(min-width: 1030px){
    #content {
        width: 84vw;
        min-height: 530px;
        margin: 0 auto;
        top: 17px;
        border-left: 3px solid #6d6a6a;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-top-right-radius: 3px;
        position: relative;
        z-index: -100;
        margin-left: 5%;
    }
    .return{
        position: absolute;
        right: 5%;
        top: 3%;
        width: 50px;
        z-index: 100000;
    }
    /* 标题 */
    #sDiv{
        height: 9%;
        width: 100%;
        font-size: 30px;
        color: black;
        position: absolute;
        top: 5%;
    }
    .letter {
        /*animation: bounce 0.75s cubic-bezier(0.05, 0, 0.2, 1) infinite alternate;*/
        display: inline-block;
        transform: translate3d(0, 0, 0);
        font-size: 50px;
        color: black;
        margin: auto -7px;
        margin-top: 20px;

    }
    .letter:nth-child(1) {
        animation-delay: 0s;
    }
    .letter:nth-child(2) {
        animation-delay: 0.0833333333s;
    }
    .letter:nth-child(3) {
        animation-delay: 0.1666666667s;
    }
    .letter:nth-child(4) {
        animation-delay: 0.25s;
    }
    .letter:nth-child(5) {
        animation-delay: 0.3333333333s;
    }
    .letter:nth-child(6) {
        animation-delay: 0.4166666667s;
    }

    /*@keyframes bounce {*/
        /*0% {*/
            /*transform: translate3d(0, 0, 0);*/
        /*}*/
        /*100% {*/
            /*transform: translate3d(0, -1em, 0);*/
        /*}*/
    /*}*/
    /* 翻转 */
    .courseLogo{
        height: 25%;
        width: 40%;
        box-sizing: border-box;
        perspective: 800px;
        left: 10%;
        margin-top: 20px;
    }
    .big{
        margin-left: 12%;
        margin-top: 10px;
    }
    .courseBefore{
        width: 100%;
        height: 100%;
        position: absolute;
        top:2px;
        /*background-image: url(../img/th.jpeg);*/
        left: 0;
        font-family: Mae;
        font-weight: bolder;
        font-size: 25px;
        color: black;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 120% 100%;
        backface-visibility: hidden;
        transition: 1s;
        border-radius:18px;
        z-index: 1000;
    }
    .courseBefore>img{
        border-radius: 10px;
    }
    .courseLogo::before {
        content: "";
        width: 40px;
        display: block;
        height: 4px;
        position: absolute;
        left: -8%;
        top: 50%;
        z-index: -1000;
        background-color: #6d6a6a;
    }
    .courseAfter{
        background-image: url(../img/bg.jpg);
        text-indent: 1.2em;
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;
        color: #333;
        transform: rotateY(-180deg);
        backface-visibility: hidden;
        transition: 1s;
        border-radius:18px;
        z-index: 1100;
        position: relative;
    }
    .courseLogo{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /*.courseLogo:hover .courseBefore{*/
        /*transform: rotateY(180deg);*/
    /*}*/
    /*.courseLogo:hover .courseAfter{*/
        /*transform: rotateY(0deg);*/
    /*}*/
    .small{
        /*margin-top: 6%!important;*/
        /*position: absolute;*/
        /*top: 0;*/
        /*z-index: 10000;*/
    }
    .courseAfter>p{
        padding: 5px;
        text-align: start;
        width: 90%;
        margin: 0 auto;
        font-size: 20px;
        line-height: 25px;
    }
    #one{
        position: relative;
        margin-left:-7%;
        margin-top: 110px;
        height: 130px;
    }
    #two{
        position: relative;
        margin-left:-7%;
        margin-top: 70px;
    }
    #three{
        position: absolute;
        bottom: 50%;
        left: 34%;
        z-index: -100;
    }

    #four{
        position: absolute;
        bottom:10%;
        left: 34%;
        z-index: -100;
    }

} 