* {
    margin: 0;
     padding: 0;
     text-decoration: none;
     list-style: none;
}
h1{
    margin-top: 12%;
    font-size: 50px;
}
body{
    width: 100%;
    min-height: 640px;
}
.timeline{
    height: 500px;
    width: 3px;
    position: relative;
    left: 36.2%;
    top: 120px;
}
img{
    height: 70px;
    width: 70px;
    margin-left: -30px;
    margin-top: -10px;
}
.tail{
    position: relative;
    left: 50%;
    margin-top: 120px;
}
p{
    font-size: 50px;
}
.left{
   width: 100px;
   position: absolute;
   left: -160px;
   top: -10px;
}
.right{
    width: 300px;
    position: absolute;
    right: -370px;
    top: -10px;
}
#one{
    background-color:#1296db ;
}
#two{
    background-color: #1296db;
}
#three{
    height: 0;
}

#three span{
    color: black;
}
.later{
    position: relative;
    bottom: 980px;
    left: 40%;
    width: 100%;
    font-size: 32px;
    margin-top: 5px;
}
@media(min-width: 400px) and (max-width: 430px){

}
@media(min-width: 350px) and (max-width: 400px){
    .later{
        position: relative;
        bottom: 980px;
        left: 40%;
        width: 100%;
        font-size: 31px;
    }
    p{
        font-size: 50px;
    }
}
@media(min-width: 300px) and (max-width: 350px){
    p{
        font-size: 44px;
    }
  
}

@media(min-width: 1025px){
    h1{
        margin-top: 7%;
        font-size: 50px;
        margin-left: 35%;
    }
    body{
        width: 65vw;
        height: 90vh;
    }
    .timeline{
        width: 300px;
        height: 3px;
        position: relative;
        top: 120px;
        display: inline-block;
        left: 12%;
    }
    img{
        height: 40px;
        width: 40px;
    }
    /* .tail{
        position: relative;
        left: 50%;
        margin-top: 120px;
    } */
    p{
        font-size: 25px;
    }
    .left {
        width: 100px;
        position: absolute;
        left: -40px;
        top: -50px;
    }
    .right {
        width: 300px;
        position: absolute;
        right: 60px;
        top: 30px;
    }
    #one{
        background-color:#1296db;
    }
    #two{
        background-color: #1296db;
    }
    #three{
        height: 0;
    }

    #three span{
        color: black;
    }
    .later{
        position: relative;
        bottom: 980px;
      /*   left: 40%; */
       /*  width: 100%; */
        font-size: 32px;
        margin-top: 5px;
    }
    .move {
        position: absolute;
        left: 17%;
        top: 25%;
    }
}