/*主页面*/
    .page_main{
        width: 80%;
        margin: 0 auto;
        border: #666666 dashed 2px;
        border-radius: 10px;
        background-image: url("../source/picture/body_bg.png");
    }

    .main-cell{
        width: 100%;
        height: 500px;
    }

/*图片容器*/
    .show-main{
        position: relative;
        float: left;
        left: 2%;
        top: 50px;
        background: #fff;
        margin: 20px 0;
        display: block;
        width: 42%;
        height: 70%;
        padding:10px;
        border-radius: 4px 4px 4px 4px;
        -webkit-box-shadow: 5px 3px 4px
        rgba(0, 0, 0, 0.3), 0 0 40px
        rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

        box-shadow: 5px 3px 4px
        rgba(0, 0, 0, 0.3), 0 0 40px
        rgba(0, 0, 0, 0.1) inset;
    }

/*图片*/
    .show-main img{
        margin: 10px 10px;
        width: 95%;
        height: 90%;
    }

    .introduce{
        position: relative;
        left: 10px;
        width: 48%;
        height: 500px;
        float: left;
        margin: 0;
    }
/*标题文字*/
    .main-content{
        float: left;
        text-align: center;
        width: 350px;
        position: relative;
        left: 20%;
        top: 80px;
        font-family: sans-serif;
        background-color: #ed704e;
        border-radius: 4px;
        color: #cccccc;
        font-size: 40px;
        padding: 5px;
    }

/*介绍文本*/
    .intro-text{
        text-indent: 2em;
        font-family: MyCustomFont;
        float: left;
        font-size: 22px;
        line-height: 22px;
        position: relative;
        width:90%;
        top: 120px;
        left: 20px;
    }

    .img-title{
        margin: 0;
        padding: 0;
        text-align: center;
        color: #666666;
    }

    .show-more{
        text-align: center;
        height: 60px;
        font-size: 30px;
        line-height: 60px;
        background-color: #0680cd;
        color: white;
        margin: 20px 400px;
        border-radius: 10px;
    }
    .show-more a{
        text-decoration: none;
        color: inherit;
    }

    .show-more:hover{
        box-shadow: 0 0 0 2px rgb(5, 113, 181);
        text-decoration: underline;
    }

    .main-frame{
        border-collapse: collapse;
        width: 100%;
        height: 620px;
    }